/* panton-light */

@font-face {
  font-family: 'Panton';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/panton/Panton-Light.otf");
}

/* panton-regular */

@font-face {
  font-family: 'Panton';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/panton/Panton.otf");
}

/* panton-bold */

@font-face {
  font-family: 'Panton';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/panton/Panton-Bold.otf");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:target,
*:focus,
*:active {
  outline: none;
}

html {
  overflow-x: hidden;
}

body,
input,
textarea {
  font-family: "Panton";
}

a {
  text-decoration: none;
  color: #5C6876;
}

img {
  display: block;
  max-width: 100%;
}

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.btn {
  padding: 0;
  border: 0;
  background: transparent;
  font-family: inherit;
  letter-spacing: 0.02em;
  position: relative;
  cursor: pointer;
}

.btn--sm {
  font-size: 14px;
  font-weight: 600;
}

.btn--md {
  font-size: 18px;
  font-weight: 400;
}

.btn--default {
  background: -o-linear-gradient(359.64deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
  background: linear-gradient(90.36deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
  border-radius: 67px;
  color: #fff;
  padding: 9px 32px;
}

.btn--default:hover,
.btn--default:focus {
  text-decoration: none;
  background: #CE72CB;
}

.btn--arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn--arrow::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url("../img/icons/arrow.svg");
  margin-left: 12px;
  background-size: contain;
  background-position: center;
}

.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropdown__title {
  font-size: 18px;
  line-height: 25px;
  color: #5C6876;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown__title svg {
  margin-left: 8px;
}

.dropdown__title svg path {
  fill: #5C6876;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.dropdown__content {
  display: none;
  position: absolute;
  top: -12px;
  left: -16px;
  background: #fff;
  padding: 12px 32px 12px 16px;
  border-radius: 8px;
  z-index: 10;
}

.dropdown__content li,
.dropdown__content a {
  font-size: 18px;
  color: #5C6876;
  white-space: nowrap;
}

.dropdown__content li:hover,
.dropdown__content a:hover {
  color: #4996D1;
}

.dropdown__content li:not(:last-child) {
  margin-bottom: 4px;
}

.dropdown__content .active,
.dropdown__content .active a {
  color: #4996D1;
  pointer-events: none;
}

.dropdown__content .active {
  position: relative;
}

.dropdown__content .active svg {
  position: absolute;
  top: 50%;
  right: -18px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dropdown__content .active svg path {
  fill: #5C6876;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown--blue .dropdown__title {
  color: #4996D1;
}

.dropdown--blue .dropdown__title svg path {
  fill: #4996D1;
}

.dropdown--blue .active svg {
  margin-left: 8px;
}

.dropdown--blue .active svg path {
  fill: #4996D1;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.dropdown--light .dropdown__title {
  color: #fff;
}

.dropdown--light .dropdown__title svg path {
  fill: #fff;
}

.heading {
  font-size: 45px;
  font-weight: 700;
  color: #4996D1;
  line-height: 52px;
  letter-spacing: 0.02em;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: #8592F4;
  line-height: 21px;
  letter-spacing: 0.03em;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #5C6876;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.info {
  max-width: 55%;
}

.info .title {
  margin-bottom: 18px;
}

.info .heading {
  margin-bottom: 18px;
}

.info .btn {
  margin-top: 18px;
}

.info--full {
  max-width: 100%;
}

.tabs__controls button.active {
  font-weight: 700;
}

.tabs__tab {
  display: none;
}

.tabs__tab.active {
  display: block;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 85px;
}

.header__action {
  margin: 0 112px 0 auto;
  white-space: nowrap;
}

.header__action .btn {
  border: 1px solid #4996D1;
}

.header__action .btn:hover {
  border-color: rgba(0, 0, 0, 0);
}

.header.scrolled {
  background: #fff;
}

.burger {
  display: none;
  margin-left: auto;
}

.close {
  position: fixed;
  top: 16px;
  right: 14px;
  display: none;
}

.logo img {
  width: 133px;
  height: 28px;
}

.user {
  margin-left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menuChild {
  position: absolute;
  top: 100%;
  left: -53px;
  z-index: 50;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 4px 30px rgba(43, 45, 74, 0.17);
  box-shadow: 0px 4px 30px rgba(43, 45, 74, 0.17);
  border-radius: 24px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding: 44px 53px;
  background: url("../img/bg-menu.png") no-repeat;
  background-size: cover;
}

.menuChild__main {
  max-width: 244px;
}

.menuChild__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 14px;
  letter-spacing: 0.05em;
  background: -o-linear-gradient(359.64deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
  background: linear-gradient(90.36deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuChild__subtitle {
  font-size: 18px;
  line-height: 25px;
  color: #5C6876;
  letter-spacing: 0.05em;
}

.menuChild__content {
  margin-left: 92px;
}

.menuChild__content li:not(:last-child) {
  margin-bottom: 24px;
}

.menuChild__content li a {
  background: -o-linear-gradient(359.64deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
  background: linear-gradient(90.36deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400 !important;
  letter-spacing: 0.02em !important;
}

.menuChild__content li a:hover {
  -webkit-text-fill-color: #CE72CB;
}

.menuChild__content--two {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 24px 40px;
}

.menuChild__content--two li {
  margin-bottom: 0 !important;
}

.menu {
  margin-left: auto;
  margin-right: 10px;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.menu.active {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.menu .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.menu .ul > li {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 43px 0;
}

.menu .ul > li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.menu .ul > li:hover::before {
  background: #CE72CB;
}

.menu .ul > li:hover > a {
  color: #CE72CB;
}

.menu .ul > li:hover .menuChild {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.menu .ul > li:not(:last-child) {
  margin-right: 78px;
}

.menu .ul > li > a svg path {
  fill: #CE72CB;
}

.menu .ul > li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.menu .ul > li a svg {
  margin-left: 8px;
}

.menu .ul > li a svg path {
  fill: #5C6876;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.footer {
  background: url("../img/bg-footer.png") no-repeat;
  background-size: cover;
  margin-top: auto;
}

.footer__inner {
  padding: 55px 26px 47px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 80px;
  color: #fff;
}

.footer__main {
  width: 17%;
  position: relative;
}

.footer__main p {
  font-size: 8px;
  letter-spacing: 0.02em;
  line-height: 11px;
  color: #F1F4F6;
}

.footer__main p:first-of-type {
  margin-bottom: 8px;
}

.footer__title {
  color: #93DEEF;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.02em;
  margin-bottom: 12px;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 134px;
}

.footer__col--info {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 92px;
}

.footer__col--info .footer__list {
  width: 40%;
}

.footer__list {
  margin-bottom: 8px;
}

.footer__list ul li {
  line-height: 22px;
}

.footer__list ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.footer__list ul li a:hover {
  color: #CE72CB;
}

.footer__list ul li:not(:last-child) {
  margin-bottom: 14px;
}

.footer__list--socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 14px;
  gap: 8px;
}

.footer__lang {
  margin-top: 18px;
}

.logo--footer {
  margin-bottom: 16px;
}

.logo--footer img {
  width: 130px;
  height: 32px;
}

.intro {
  background: url("../img/bg-intro.png") no-repeat;
  background-size: 100% 85%;
  padding-bottom: 62px;
  overflow: hidden;
}

.intro__inner {
  padding: 151px 0 0 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.intro__caption {
  letter-spacing: 0.02em;
  max-width: 32%;
  margin-top: 104px;
}

.intro__caption p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
}

.intro__caption .btn {
  margin-top: 36px;
}

.intro__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  color: #fff;
}

.intro__subtitle {
  font-size: 24px;
  font-weight: 600;
  color: #8FF7FF;
  margin-bottom: 16px;
}

.introMedia {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(7.97%, #FFFFFF), color-stop(55.79%, rgba(255, 255, 255, 0))), #F0F2F4;
  background: -o-linear-gradient(bottom, #FFFFFF 7.97%, rgba(255, 255, 255, 0) 55.79%), #F0F2F4;
  background: linear-gradient(0deg, #FFFFFF 7.97%, rgba(255, 255, 255, 0) 55.79%), #F0F2F4;
  border-radius: 24px 0 0 24px;
  padding: 24px 24px 80px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 40%;
}

.introMedia__sidebar {
  padding: 20px 42px 0 0;
}

.introMedia__content {
  padding-left: 18px;
}

.introMedia__content img {
  width: 100%;
}

.introPhone {
  width: 281px;
  height: 555px;
  background: url("../img/phone.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 77px;
  left: -124px;
  -webkit-box-shadow: 0 0 20px 3px #818181;
  box-shadow: 0 0 20px 3px #818181;
  border-radius: 49px;
  background-color: #ffffff;
}

.introPhone__group {
  position: absolute;
  top: 205px;
  left: 57px;
  right: 57px;
}

.introPhone__group::after {
  content: '';
  display: inline-block;
  clear: both;
}

.introPhone__group div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.introPhone input {
  margin-bottom: 17px;
  display: block;
  width: 100%;
  border: none;
  font-size: 12px;
}

.introPhone input[name=date] {
  display: inline-block;
  width: 56px;
}

.introPhone input[name=cvc] {
  display: inline-block;
  width: 36px;
}

.brands::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: -o-linear-gradient(359.64deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
  background: linear-gradient(90.36deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
  display: none;
}

.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.brands__list img:not(:last-child) {
  margin-right: 58px;
}

.tabsSchema {
  margin-top: 56px;
  margin-bottom: 200px;
}

.tabsSchema__wrap {
  padding: 0 84px;
}

.tabsSchema .tabs {
  margin-top: 64px;
}

.tabsSchema .tabs__controls {
  list-style: none;
  counter-reset: tabs-controls-counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 21px;
}

.tabsSchema .tabs__controls li {
  counter-increment: tabs-controls-counter;
  position: relative;
  display: inline-block;
}

.tabsSchema .tabs__controls li::before {
  content: counter(tabs-controls-counter);
  font-size: 50px;
  font-weight: 700;
  color: #959BAF;
  position: absolute;
  top: 50%;
  left: 18px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}

.tabsSchema .tabs__controls li button {
  height: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #959BAF;
  text-align: left;
  padding: 24px 18px 24px 74px;
  border-radius: 24px 24px 0 0;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(18, 61, 101, 0.3);
  box-shadow: 0px 0px 35px 0px rgba(18, 61, 101, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))), #F2F5FB;
  background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F2F5FB;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F2F5FB;
}

.tabsSchema .tabs__controls li.active::before {
  background: -o-linear-gradient(359.64deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
  background: linear-gradient(90.36deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabsSchema .tabs__controls li.active button {
  background: -o-linear-gradient(359.64deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
  background: linear-gradient(90.36deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabsSchema .tabs__content {
  padding: 52px 24px;
  background: #fff;
  margin-top: -1px;
  position: relative;
  z-index: 1;
}

@media (max-width: 1440px) {
  .header__action {
    margin: 0 auto;
  }

  .menu {
    margin: 0 auto;
  }

  .footer__inner {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer__col {
    gap: 0 72px;
  }

  .footer__col--info {
    gap: 0 58px;
  }

  .intro__inner {
    gap: 0 15%;
  }

  .introMedia {
    width: auto;
    padding-bottom: 0;
  }
}

@media (max-width: 1223px) {
  .container {
    width: 91%;
  }

  .header__inner {
    padding: 0 4.5%;
  }

  .menuChild {
    padding: 24px;
    left: -24px;
  }

  .menuChild__title {
    font-size: 20px;
  }

  .menuChild__subtitle {
    font-size: 14px;
    line-height: 20px;
  }

  .menuChild__content {
    margin-left: 24px;
  }

  .menuChild__content li:not(:last-child) {
    margin-bottom: 16px;
  }

  .menuChild__content--two {
    grid-gap: 16px 24px;
  }

  .menu .ul > li:not(:last-child) {
    margin-right: 24px;
  }

  .menu .ul > li a {
    font-size: 14px;
  }

  .footer__inner {
    padding: 42px 4.5%;
    gap: 0 32px;
  }

  .footer__col {
    gap: 0 32px;
  }

  .footer__col--info {
    gap: 0 32px;
  }

  .intro__inner {
    padding: 56px 0 0 calc((100vw - 91%) / 2);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .intro__caption {
    margin-top: 0;
  }

  .intro__caption p {
    font-size: 14px;
    line-height: 20px;
  }

  .intro__caption .btn {
    margin-top: 24px;
  }

  .intro__title {
    font-size: 34px;
    line-height: 34px;
  }

  .intro__subtitle {
    font-size: 20px;
  }

  .introPhone {
    width: 206px;
    height: 407px;
    left: -65px;
    bottom: 0;
  }

  .introPhone__group {
    top: 148px;
    left: 44px;
    right: 44px;
  }

  .introPhone input {
    margin-bottom: 7px;
    height: 16px;
    font-size: 10px;
  }

  .brands__list img {
    max-width: calc(100% / 8 - 24px);
  }

  .brands__list img:not(:last-child) {
    margin-right: 24px;
  }

  .tabsSchema__wrap {
    padding: 0;
    width: 91%;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .root {
    padding-top: 68px;
  }

  .page-home {
    padding-top: 0;
  }

  .header__inner {
    padding: 30px 4.5% 19px 4.5%;
  }

  .header__action {
    display: none;
  }

  .burger {
    display: block;
  }

  .lang {
    display: none;
  }

  .close {
    display: block;
  }

  .logo img {
    width: 98px;
    height: 19px;
  }

  .user {
    display: none;
  }

  .menuChild {
    position: static;
    width: 100%;
    margin-top: 24px;
    display: block;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
  }

  .menuChild__main {
    display: none;
  }

  .menuChild__subtitle {
    display: none;
  }

  .menuChild__content {
    margin-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 32px;
  }

  .menuChild__content li:not(:last-child) {
    margin-bottom: 0;
  }

  .menuChild__content li a {
    font-weight: 700 !important;
  }

  .menuChild__content--two {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  .menu.active .menuChild {
    opacity: 1;
    pointer-events: auto;
  }

  .menu .ul {
    display: block;
    height: auto;
  }

  .menu .ul > li {
    display: block;
    padding: 24px 28px;
  }

  .menu .ul > li::before {
    background: -o-linear-gradient(359.64deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
    background: linear-gradient(90.36deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
    height: 1px;
    top: 100%;
  }

  .menu .ul > li:hover::before {
    background: -o-linear-gradient(359.64deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
    background: linear-gradient(90.36deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
  }

  .menu .ul > li:not(:last-child) {
    margin-right: 0;
  }

  .menu .ul > li > a {
    text-transform: uppercase;
    color: #5C6876;
  }

  .menu .ul > li a svg {
    display: none;
  }

  .footer__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer__main {
    width: 100%;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 32px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__col {
    width: 48%;
  }

  .footer__brands {
    margin-top: 0;
  }

  .footer__lang {
    margin-top: 0;
  }

  .logo--footer {
    margin-bottom: 0;
  }

  .intro__inner {
    padding: 110px calc((100vw - 91%) / 2) 97px;
  }

  .introMedia {
    padding-left: 24px;
  }

  .introMedia__sidebar {
    padding: 0 16px 0 0;
  }

  .introPhone {
    width: 142px;
    height: 280px;
    left: -42px;
    top: 60px;
    border-radius: 30px;
  }

  .introPhone__group {
    top: 101px;
    left: 32px;
    right: 32px;
  }

  .introPhone input {
    margin-bottom: 3px;
    height: 12px;
    font-size: 7px;
  }

  .introPhone input[name=date] {
    width: 35px;
  }

  .introPhone input[name=cvc] {
    width: 24px;
  }

  .tabsSchema {
    margin-top: 24px;
  }

  .tabsSchema .info {
    max-width: 80%;
  }

  .tabsSchema .tabs__controls li::before {
    font-size: 24px;
    left: 8px;
  }

  .tabsSchema .tabs__controls li button {
    padding: 12px 18px 12px 34px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 34px;
    line-height: 40px;
    background: -o-linear-gradient(359.64deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
    background: linear-gradient(90.36deg, #6EACF6 21.97%, #A685F3 76.97%), #4996D1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .info .title {
    margin-bottom: 28px;
  }

  .info .heading {
    margin-bottom: 28px;
  }

  .info .btn {
    margin-top: 28px;
  }

  .footer {
    background: url("../img/bg-footer-mobile.png") no-repeat;
    background-size: cover;
  }

  .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: 48px;
  }

  .footer__brands {
    margin-top: 32px;
    gap: 36px;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .footer__brands img {
    -webkit-filter: invert(0.8);
    filter: invert(0.8);
    opacity: .7;
  }

  .footer__lang {
    position: absolute;
    top: 4px;
    right: 0;
  }

  .logo--footer {
    margin-bottom: 16px;
  }

  .intro {
    background: url("../img/bg-intro-mobile.png") no-repeat;
    background-size: cover;
    margin-bottom: 16px;
  }

  .intro__inner {
    padding: 170px calc((100vw - 91%) / 2) 97px;
  }

  .intro__caption {
    max-width: 100%;
  }

  .intro__caption p {
    font-size: 18px;
    line-height: 25px;
  }

  .intro__title {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 10px;
  }

  .intro__subtitle {
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 32px;
  }

  .introMedia {
    display: none;
  }

  .brands {
    position: relative;
  }

  .brands::before {
    display: block;
  }

  .brands__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 12px 10%;
    padding: 0 10px 24px 10px;
  }

  .brands__list img {
    max-width: 100%;
    width: 17%;
  }

  .brands__list img:not(:last-child) {
    margin-right: 0;
  }

  .tabsSchema .tabs {
    margin-top: 24px;
  }

  .tabsSchema .tabs__controls {
    gap: 0 4px;
  }

  .tabsSchema .tabs__controls li {
    padding: 11px 48px 3px 48px;
  }

  .tabsSchema .tabs__controls li::before {
    content: "#" counter(tabs-controls-counter);
    font-size: 20px;
    position: relative;
    top: 0;
    left: 0;
  }

  .tabsSchema .tabs__controls li button {
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 16px 16px 0 0;
  }
}

@media (max-width: 500px) {
  .footer__col {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__col--info .footer__list {
    width: 100%;
  }

  .footer__list {
    margin-bottom: 24px;
  }

  .footer__list--company {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .footer__list--contact {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .footer__list--documentation {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .footer__list--socials {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  .tabsSchema .tabs__controls li {
    padding: 11px 22px 3px 22px;
  }
}